**/*.pyc
**/*.dump
**/*.backup
**/*.retry
**/*.log
**/*.egg-info
**/.DS_Store
**/.pytest_cache
**/.vscode
**/*.git
**/node_modules
/.*
**/__pycache__
**/*.md
**/*.in
/var
.initialized
docker-compose.yml
requirements-develop.txt
public/media/*
public/static/*
public/temp/*
src/frontend/*
!/src/frontend/dist
**/*.pdf
.env
