# Created by .ignore support plugin (hsz.mobi)
*.pyc
*.idea
*.sqlite3
__pycache__
node_modules
public/static
.python-version
src/db.sqlite3
.initialized
*.map
env_baseproject
.vscode

*.pyc
*.tar
*.so
*.mo
*.zip
*.backup
*.log
*.sock
*.swp
*.pid
*.socket
*.egg-info
*.dump
*.sqlite
.DS_Store
*.diff

.idea
__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/
.coverage
.htpasswd
lextab.py
yacctab.py
.env
.initialized
CACHE/
data/
public/static/
pip-wheel-metadata/
uwsgi.pid
uwsgi.log
atd_de/atd_de.egg-info
atd_de/.sass-cache
public/documents/
public/media/*
public/media/qr_codes/*
public/temp/

provision/playbooks/staging/.env-staging.lux